
<div class='cardw'>
  <div class='row contentbox'>
    <div class='col-xs-12 col-lg-6'>
      <div class='content' id='img'>
        <iframe width="336" height="189" src="https://www.youtube.com/embed/{{ d.live_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class='col-xs-12 col-lg-6'>
      <div class='content' id='detail'>
        <h5 class='title-text'>
          <a href='https://www.youtube.com/watch?v={{ d.live_url }}' target="_blank" class="title-text">{{ d.live_title }} <span class="badge">{{ d.past_time }}</span></a>
        </h5>
        <p class="name">{{ d.liver_name }} </p>
      </div>
    </div>
  </div>
</div> <!-- card end -->
