{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-3 hidden-xs">
      </div> -->
      <div class="col-lg-3 hidden-md sidebar" id='l'>
      </div>
      <div class="col-lg-6">
        <br>
        <br>
        {% if livedata %}
          {% for d in livedata reversed %}
            {% include "content_box.html" %}
          {% endfor %}
        {% else %}
          <p class='errmsg'>配信してるVtuberはいませんでした</p>
        {% endif %}
      </div>

      <div class="col-lg-3 hidden-md sidebar" id='r'>
        <div class="container sidebar-right">
          <br>
          <br>
            {% include "sidbar_filter.html" %}
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
