<!-- Card -->
<div class="card mb-3" style="height:200px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ d.src }}" class="card-img" alt="{{ d.name }}" style="height:200px; width:200px;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5>{{ d.name }}</h5>
        <p class="card-text"><a href="https://twitter.com/{{ d.twitter }}" target="_blank">{{ d.twitter }}</a></p>
        <p>{{ d.gender }}</p>
        <p>{{ d.uid }}</p>
      </div>
    </div>
    <div class="col-md-2" style="text-align:center;">
        
        <a href="accept?uid={{ d.uid }}&name={{ d.name }}&src={{ d.src }}&twitter_id={{ d.twitter }}&gen={{ d.gender }}" class="btn btn-success">Accept</a>
        <a href="deny?uid={{ d.uid }}&name={{ d.name }}&src={{ d.src }}&twitter_id={{ d.twitter }}&gen={{ d.gender }}" class="btn btn-danger">Deny</a>
      
    </div>
  </div>
</div>
<!-- Card -->