<div class="container">
  {% if request.GET.filter == "1" %}
    <p class="filter-text">現在選択中のフィルター：ホロライブ</p>
  {% elif request.GET.filter == "2" %}
    <p class="filter-text">現在選択中のフィルター：にじさんじ</p>
  {% elif request.GET.filter == "3" %}
    <p class="filter-text">現在選択中のフィルター：あにまーれ</p>
  {% elif request.GET.filter == "4" %}
    <p class="filter-text">現在選択中のフィルター：.Live</p>
  {% elif request.GET.filter == "5" %}
    <p class="filter-text">現在選択中のフィルター：ハニスト</p>
  {% elif request.GET.filter == "6" %}
    <p class="filter-text">現在選択中のフィルター：Re:AcT</p>
  {% elif request.GET.filter == "7" %}
    <p class="filter-text">現在選択中のフィルター：ENTUM</p>
  {% elif request.GET.filter == "8" %}
    <p class="filter-text">現在選択中のフィルター：ホロスターズ</p>
  {% elif request.GET.filter == "99" %}
    <p class="filter-text">現在選択中のフィルター：その他/個人勢</p>
  {% endif %}
  <div class="row">
    <div class="dropdown d-none d-sm-block mx-auto col-lg-8">
      <!-- スマホ画面で非表示　d-none d-sm-block / 逆に表示する場合 d-block d-sm-none-->
      <button class="btn btn-ins btn-lg dropdown-toggle d-none d-sm-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          フィルター
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="target">
        <li><a href="?filter=1" class="filter title-text">ホロライブ</a></li>
        <li><a href="?filter=2" class="filter title-text">にじさんじ</a></li>
        <li><a href="?filter=3" class="filter title-text">あにまーれ</a></li>
        <li><a href="?filter=4" class="filter title-text">.Live</a></li>
        <li><a href="?filter=5" class="filter title-text">ハニスト</a></li>
        <li><a href="?filter=6" class="filter title-text">Re:AcT</a></li>
        <li><a href="?filter=7" class="filter title-text">ENTUM</a></li>
        <li><a href="?filter=8" class="filter title-text">ホロスターズ</a></li>
        <li><a href="?filter=99" class="filter title-text">その他/個人勢</a></li>
      </ul>
    </div>
    <div class="col-lg-4 btnleft">
        <button type="button" class="btncolor btn btn-primaly d-none d-sm-block" onclick="location.href='?filter='">解除</button>
    </div>
  </div>
</div>