{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-3 hidden-xs">
      </div> -->
      <div class="col-lg-3 hidden-md sidebar" id='l'>
      </div>
      <div class="col-lg-6">
        <p class="comment">＞対応Vtuber一覧　※調整中 <i class="fas fa-search"></i></p>

        <br>
        {% if vtuber %}
          {% for v in vtuber %}
            {% include "v_content.html" %}
          {% endfor %}
        {% else %}
          <p class='errmsg'>配信してるVtuberはいませんでした</p>
        {% endif %}
      </div>

      <div class="col-lg-3 hidden-md sidebar" id='r'>
        <div class="container">
          <br>
          <br>
          {% include "sidbar_filter.html" %}

          <div>
            <form class="form-inline" method="get">
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                aria-label="Search Vtuber" name="search_vtuber">
              <i class="fas fa-search" aria-hidden="false"><input type="submit" name=""></i>

            </form>
          </div>

          <br>
          <br>
          <div class="d d-none d-sm-block">
            <a href="about_this_page" class="title-text">About this site</a>
          </div>
        </div>
        
      </div>
    
    </div>
</div>
{% endblock %}
